# игнорировать файлы в подкатологе tmp
tmp/

# игнорировать файлы, закнчивающиемя суффиксами _old
*_old

# игнорировать файлы, закнчивающиемя суффиксами _backup
*_backup

# игнорировать файл Thumbs.db
Thumbs.db

# игнорировать файлы .DS_Store
*.DS_Store

